header {
    text-align: center;
    padding: 50px;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    
}

nav a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin: 10px;
}

.pictures {
    background: grey;
    padding: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 8px;
}